body{
    background-color: #e0fbfc ;
  }
  .nome{
    border-radius: 8px;
    background-color: #3D5A80;
    font-family:monospace;
    font-size: 16px;
    text-align: center;
    padding:7px;
    
  }
  .sobre{
    margin: 50px;
    width: 50%;
    font-family:monospace;
    font-size: 16px;
    background-color: azure;

  }
  .photo {
  float: left;
  width:170px; 
  border-radius: 10px;
  left: 30px;
  margin-top: 30px;
  padding: 5px;
  background-color: #98C1D9;

  }
  
  img.redes{
    position: absolute;
    right: 20px;
    

  }

  .habilidades{
    margin-top: 100px;
    text-align:justify;
  }
  
  .Org,.Est,.Foc,.Ing{
    font-size: 22px;
    
  }
  